nav ul ul
{
display:none;
}
nav ul li:hover>ul
{
display:block;
background-image:url("w.jpg");
color:white;
position:absolute;
//background-color:Khaki;
z-index:20;
}
nav ul li
{
position:relative;
line-height:10px;
float:left;
display:inline;
text-align:left;
width:180px;
margin:13px;
}